<!--Egor Shevchenko - 301084181. October 8, 2020-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
  <h1 class="display-4"><%= title %> page</h1>

  <% if (title == "Home") { %>
      <%- include partials/home.ejs %>
      <% } 
      
      else if (title == "About") { %>
      <%- include partials/about.ejs %>
      <% } 

      else if (title == "Projects") { %>
      <p><%- include partials/projects.ejs %></p>
      <% } 

      else if (title == "Services") { %>
      <p><%- include partials/services.ejs %></p>
      <% } 

      else if (title == "Contact") { %>
      <p><%- include partials/contact.ejs %></p>
      <% } %>

  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
