<!--Egor Shevchenko - 301084181. October 8, 2020-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!--Main Content-->
<main class="container">
  <div class="jumbotron">
  <h1 class="display-4"><%= title %> page</h1>

  <% if (title == "Home") { %>
      <p class="h4">Home</p>
      <% } 
      
      else if (title == "About") { %>
      <img src="/assets/images/face.jpg" class="img-fluid" id="face" alt="Face">
      <p class="h4"><a href="/assets/resume/resume.pdf">Resume</a><br>
      <br>
      I am Egor Shevchenko, a Russian student studying Software Engineering Technology at Centennial College.
      </p>
      <% } 

      else if (title == "Projects") { %>
      <p class="h4">Projects</p>
      <% } 

      else if (title == "Services") { %>
      <p class="h4">Services</p>
      <% } 

      else if (title == "Contact") { %>
      <p class="h4">Contact</p>
      <% } %>

  </div>
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
