<!--Egor Shevchenko - 301084181. October 20, 2020-->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<main class="container">
<div class="row">
    <div class="offset-md-1 col-md-8">
        <h1><%= title %></h1>
        <br>
        <table class="table table-bordered table-striped table-hover">
                <!--Header Row-->
                <tr class>
                    <th class="text-center">Username</th>
                    <th class="text-center">Password</th>
                    <th class="text-center">Email</th>
                </tr>

                <!--Repeatable Template Row-->

                <% for(let count = 0; count < userList.length; count++) { %>
                    <tr>
                        <td class="text-center"><%= userList[count].username %></td>
                        <td class="text-center"><%= userList[count].password %></td>
                        <td class="text-center"><%= userList[count].email %></td>
                    </tr>
                <% } %>
        </table>
    </div>
</div>
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>